


body {
  background-color: #efefef;
}

h1, h2, h3, h4, h5, h6 {color: inherit !important;}
blockquote {color: inherit !important;}

a {color: #076987;}
a:hover {color: #AF2525; text-decoration: underline;}
a:focus {color: #0D7696;}

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #999;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
}

.cardless {
  padding:1.5rem;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
}

.cardless.dark-shade {
  background-color: rgba(0,0,0,.66);
}
.cardless.light-shade {
  background-color: rgba(255, 255, 255, .66);
}

.hacker {
  font-family: monospace;
}

.red, .blue, .white, .black {
  padding-top: 1rem;
}

/* to fix foundation's full-width issue */
.row {max-width: initial;}

/* old glory red, blue and the usual white and black */
.row.red {background-color: #E0162B;}
.row.blue {background-color: #0052A5;}
.row.white {background-color: #fff;}
.white .card {
  box-shadow: 1px 2px 3px #999;
}
.row.black {background-color: #000;}
.black .cardless {
  color: #fff;
  font-size: 1rem;
}
.hacker p {font-size: 1.15rem;}

.light-text {color: #fff;}
.dark-text {color: #000;}

.light-border {border-top: 1rem solid #fff;}
.dark-border {border-top: 1rem solid #000;}

/* via http://www.transparenttextures.com/ */
.fabric {background-image: url("../img/45-degree-fabric-light.png");}
.thread {background-image: url("../img/black-thread.png");}
.map {background-image: url("../img/cartographer.png");}
.criss {background-image: url("../img/crissxcross.png");}
.cubes {background-image: url("../img/cubes.png");}
.mosaic {background-image: url("../img/dark-mosaic.png");}
.diamonds {background-image: url("../img/diagmonds.png");}
.triangles {background-image: url("../img/gplay.png");}
.geometry {background-image: url("../img/inspiration-geometry.png");}
.wool {background-image: url("../img/light-wool.png");}
.notebook {background-image: url("../img/notebook-dark.png");}

.capitol-bg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: linear-gradient( 0deg, rgba(0,0,0,0), rgba(0,0,0,1) ), url("../img/capitol-building.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.capitol-bg {
  overflow: auto;
  position: relative;
}

.billboard {
  padding: 6rem 0 5rem 0;
  text-shadow: 1px 2px 15px #000;
}
.billboard .lead {
  font-size: 1.3rem;
}

/* general */
ol {
  margin-left: 3rem;
}

/* topbar */
.menu-text .first-line {
  font-size: 1.6rem;
}
.menu-text .second-line {
  color: #666;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: monospace;
}

/* page */
.page-title h1, .page-title h2 {
  font-weight: bold;
}

.aside-right {
  width: 20rem;
  float: right;
  padding: 0 0 1rem 1rem;
}

/* header top bar navigation */
header .top-bar a {color: #333;}
header .top-bar a:hover {color: #333; text-decoration: underline;}

/* footer */
.row.footer {
  border-top: .5rem solid rgba(0,0,0,.25);
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.footer {
  font-size: .9rem;
}
.footer .year {
  font-family: monospace;
}
